.board-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.game-section{
    border: 1px;
    width: 350px;
    height: 420px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.word-input{
    align-items: center;
    width: 350px;
    height: 420px;
}

.tile{
    border: 2px solid rgb(43, 43, 43);
    width: 62px;
    height: 62px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: #ffffff;
    text-transform: uppercase;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.game{
    width: 100%;
    max-width: var(500px);
    margin: 0 auto;
    height: 93.9vh;
    display: flex;
    flex-direction: column;
    background-color: #121213;
    overflow: hidden;
}

.cur-guess{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 300px;
}

.guess-tile{
    border: 2px solid rgb(43, 43, 43);
    width: 58px;
    height: 58px;
}

.row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 300px;
}

.msg{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    color: white
}